#root {
  margin: 0 auto;
}

li {
  border-radius: 2rem;
  margin: 0.25rem;
  padding: 4rem;
}

tr {
  padding: 1rem;
}

td {
  text-align: center;
  font-size: 12px !important;
}

td:nth-child(2) {
  text-align: left;
  font-size: 16px !important;
}

td:first-child, td:last-child {
  opacity: 0.5;
}

td:first-child{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes example {
  0% { height: 0; }
  100% { height: auto ;}
}

.read-the-docs {
  color: #888;
}
